<div class="form-group">
    {{ form_label(domicilio.calle) }}<span  class="text-danger">*</span>:
    {{ form_widget(domicilio.calle, { 
                    'attr': {
                    'class': 'searchabledropdown'
                    } 
                }) }}
</div>