<div class="form-group">
    {{ form_label(domicilio.calle) }}
    {{ form_widget(domicilio.calle, { 
                    'attr': {
                    'class': 'searchabledropdown'
                    } 
                }) }}
</div>