<div class="form-group">
    {{ form_label(domicilio.departamento) }}
    {{ form_widget(domicilio.departamento, { 
                    'attr': {
                         'data-localidad-url': path('industria_localidad_select'),
                    'class': 'js-industria-form-departamento js-example-responsive',
                    'style':'width: 100%'
                    } 
                }) }}
</div>