<div class="form-group">
    {{ form_label(domicilio.localidad) }}<span  class="text-danger">*</span>:
    {{ form_widget(domicilio.localidad, { 
                   'attr': {
                         'data-calle-url': path('industria_calle_select'),
                    'class': ' searchabledropdown js-industria-form-localidad'
                    } 
                }) }}
</div>