<div class="form-group">
    {{ form_label(domicilio.localidad) }}
    {{ form_widget(domicilio.localidad, { 
                   'attr': {
                         'data-calle-url': path('industria_calle_select'),
                    'class': ' js-example-responsive js-industria-form-localidad',
                    'style':'width: 100%'
                    } 
                }) }}
</div>