<form method="post" action="{{ path('admin_user_eliminar', {'id': user.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este usuario?');">
    <div class="float-right"> 
    <div class="btn-group" role="group">
        <a class="btn btn-success" href="{{ path("admin_user_editar",{"id":user.id}) }}"><span class="fa fa-edit"></span></a>     
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-danger"><span class="fa fa-trash"></span></button>
    </div>
    </div>
</form>
