{% extends 'base.html.twig' %}


{% block title %}Editar usuario{% endblock %}

{% block body %}

    <div class="container w-100 p-3">
        <div class="card mx-auto">
             <div class="card-header bg-info" >
                <h4 class="text-light mb-3 font-weight-normal">Editar Usuario</h4>     
            </div>
            <div class="card-body">
                {{ include('admin/_user_form.html.twig', {'button_label': 'Guardar Cambios'}) }}
            </div>
        </div>
    </div>


{% endblock %}
