<form method="post" action="{{ path('lugar_eliminar', {'id': lugar.id}) }}" onsubmit="return confirm('¿Está seguro que desea eliminar este lugar?');">
    <div class="float-right"> 
        <div class="btn-group" role="group">
            <a class="btn btn-info" href="{{ path("lugar_consultar",{"id":lugar.id}) }}"><span class="fa fa-search"></span></a>               

            {% if industriaConfirmada == 0 %}
                <a class="btn btn-success" href="{{ path("lugar_modificar",{"id":lugar.id}) }}"><span class="fa fa-edit"></span></a>     
                    {#   <input type="hidden" name="_method" value="DELETE">
                           <input type="hidden" name="_token" value="{{ csrf_token('eliminar' ~ lugar.id) }}">
                           <button class="btn btn-danger"><span class="fa fa-trash"></span></button> #}
                {% endif %}
        </div>
    </div>
</form>
