{{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}

<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#principal">Principal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#habilitacion">Habilitación</a>
    </li>    
    <li class="nav-item" id="tabCertAptitudAmbiental">
        <a class="nav-link" data-toggle="pill" href="#certAptitudAmbiental">Cert. Aptitud Ambiental</a>
    </li>
    <li class="nav-item" id="tabProduccion">
        <a class="nav-link" data-toggle="pill" href="#produccion">Producción</a>
    </li>
</ul>
<div class="tab-content">
    <div id="principal" class="container tab-pane active"><br>
        {% include('lugar/principal.html.twig') %}
    </div>
    <div id="habilitacion" class="container tab-pane fade"><br>
        {% include 'lugar/habilitacion_municipal.html.twig' with {'habilitacion':formulario.habilitacion,'numeroDecreto':formulario.numeroDecreto} only %}
    </div>
    <div id="certAptitudAmbiental" class="container tab-pane fade"><br>
        {% include 'lugar/cert_aptitud_ambiental.html.twig' with {'certAptitudAmbiental':formulario.certAptitudAmb,'dispCatProvincial':formulario.dispCatProvincial} only %}
    </div>
    <div id="produccion" class="container tab-pane fade"><br>
        {% include 'lugar/produccion.html.twig' %}
    </div>
</div>
<br/>
<br/>
<br/>
<div class="float-right">
    <a class="btn btn-secondary " href="{{ path("industria_nuevo") }}">Volver a Industria</a>
    <button type="submit" class="btn btn-primary ">{{ button_label|default('Crear') }}</button>    
</div>
{{ form_end(formulario) }}