{{ form_start(formulario) }}
<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#principal">Principal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#habilitacion">Habilitación</a>
    </li>    
    <li class="nav-item" id="tabCertAptitudAmbiental">
        <a class="nav-link" data-toggle="pill" href="#certAptitudAmbiental">Cert. Aptitud Ambiental</a>
    </li>
    <li class="nav-item" id="tabProduccion">
        <a class="nav-link" data-toggle="pill" href="#produccion">Producción</a>
    </li>
    <li class="nav-item" id="tabGuardarDatos">
        <a class="nav-link" data-toggle="pill" href="#guardarDatos">Finalizar</a>
    </li>
</ul>
<div class="tab-content">
    <div id="principal" class="container tab-pane active"><br>
        {% include('lugar/principal.html.twig') %}
    </div>
    <div id="habilitacion" class="container tab-pane fade"><br>
        {% include 'lugar/habilitacion_municipal.html.twig' with {'habilitacion':formulario.habilitacion} only %}
    </div>
    <div id="certAptitudAmbiental" class="container tab-pane fade"><br>
        {% include 'lugar/cert_aptitud_ambiental.html.twig' with {'certAptitudAmbiental':formulario.certAptitudAmb} only %}
    </div>
    <div id="produccion" class="container tab-pane fade"><br>
        {% include 'lugar/produccion.html.twig' %}
    </div>
    <div id="guardarDatos" class="container tab-pane fade">        
        <button id="btnSubmit" class="btn btn-primary ">{{ button_label|default('Crear') }}</button>    
    </div>
</div>
{{ form_end(formulario) }}