{% if lugares|length == 0 %}
    <div class="row">
        <div class="col-12 text-center">
            <div class="alert alert-info" role="alert">
                Esta industria no tiene lugares de producción y/o depósito 
            </div>
        </div>
    </div>       
{% else %}
    <div class="row">
        <div class="col-sm-12 pb-2">
            <table class="table table-hover table-bordered ">
                <thead class="thead-light">
                    <tr class="d-flex" >
                        <th id="headerRazonSocial" class="col-4" data-nombre="razonSocial">
                            <div class="float-left">
                                Razón Social
                            </div>
                            <div class="float-right align-bottom">
                                <span class="fa fa-xs"/>
                            </div>
                        </th>
                        <th id="headerDomicilio" class="col-4" data-nombre="domicilio">
                            <div class="float-left">
                                Domicilio
                            </div>
                            <div class="float-right align-bottom">
                                <span class="fa fa-xs "/>
                            </div>
                        </th>  
                        <th id="headerEsDeposito" class="col-2" data-nombre="esDeposito">
                            <div class="float-left">
                                Depósito
                            </div>
                            <div class="float-right align-bottom">
                                <span class="fa fa-xs"/>
                            </div>
                        </th>
                        <th id="headerEsProduccion" class="col-2" data-nombre="esProduccion">
                            <div class="float-left">
                                Producción
                            </div>
                            <div class="float-right align-bottom">
                                <span class="fa fa-xs"/>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>               
                    {% for lugar in lugares %}
                        <tr class="d-flex">
                            <td class="col-4">{{ lugar.razonSocial }}</td>
                            <td class="col-4">{{ lugar.domicilio.calle + " " + lugar.domicilio.puerta}}</td>
                            <td class="col-2">
                                <input type="checkbox"
                                       {{ lugar.esDeposito ? 'checked' : ''}}/>
                            </td>
                            <td class="col-2">
                                <input type="checkbox"
                                       {{ lugar.esProduccion ? 'checked' : ''}}/>
                            </td>
                        </tr>
                    {%  endfor %}     
                </tbody>

            </table>
        </div>
    </div>   
{% endif %}