<div class="card">
    <div class="card-body ">
        <h1 class="text-center">{{ porcExportadoras|round(1, 'floor') }}%</h1>    
        <p class="text-center">Industrias exportadoras</p>
    </div>
</div>