<div class="card">
    <div class="card-body ">
        <h5 class="text-center">Categorías</h5>    
        <input type="hidden" id="cantSinCat" value={{ cantSinCat }}>
        <input type="hidden" id="cantCat1"  value={{ cantCat1 }}>
        <input type="hidden" id="cantCat2" value={{ cantCat2 }}>
        <input type="hidden" id="cantCat3" value={{ cantCat3 }}>
        <canvas id="chartCategorias" width="500" height="500"></canvas>
    </div>
</div>