<div class="card">
    <div class="card-body ">
        <h5 class="text-center">Tipo de habilitación</h5>    
        <input type="hidden" id="cantHabilitacionDefinitiva"  value={{ cantHabilitacionDefinitiva }}>
        <input type="hidden" id="cantHabilitacionProvisoria" value={{ cantHabilitacionProvisoria }}>
        <input type="hidden" id="cantHabilitacionInicio" value={{ cantHabilitacionInicio }}>
        <input type="hidden" id="cantDeshabilitados" value={{ cantLugaresDeshabilitados }}>
        <canvas id="chartHabilitacionTipos" width="500" height="500"></canvas>
    </div>
</div>