<div class="card">
    <div class="card-body ">
        <h5 class="text-center">Tipos de residuos</h5>    
        <input type="hidden" id="residuosSolidos"  value={{ residuosSolidos }}>
        <input type="hidden" id="residuosLiquidos" value={{ residuosLiquidos }}>
        <input type="hidden" id="residuosSemisolidos" value={{ residuosSemisolidos }}>
        <canvas id="chartResiduos" width="500" height="500"></canvas>
    </div>
</div>