<div class="card">
    <div class="card-body ">
        <h5 class="text-center">¿Exportan?</h5>    
         <input type="hidden" id="cantLugaresExportadores"  value={{ cantLugaresExportadores }}>
          <input type="hidden" id="cantLugaresNoExportadores" value={{ cantLugaresNoExportadores }}>
        <canvas id="chartLugaresExportadores" width="500" height="500"></canvas>
    </div>
</div>