
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="btn btn-sm btn-light" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>                    
        </ul>

        <div class="btn-toolbar"> 
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-sm btn-light m-1" href="{{ path('session_cuenta') }}">Cuenta</a>
                <a class="btn btn-sm btn-light m-1" href="{{ path('app_logout') }}">Logout</a>
            {%  else  %}
                <a class="btn btn-sm btn-light m-1" href="{{ path('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>