<div class="card">
    <div class="card-body ">
        <h5 class="text-center">Habilitaciones</h5>    
         <input type="hidden" id="cantHabilitados"  value={{ cantLugaresHabilitados }}>
          <input type="hidden" id="cantDeshabilitados" value={{ cantLugaresDeshabilitados }}>
        <canvas id="chartHabilitaciones" width="500" height="500"></canvas>
    </div>
</div>