{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-deck p-3">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="text-light">Datos Usuario</h4>     
            </div>
            <div class="card-body text-center">                     
                <p class="card-text">Form pending</p>
            </div>
            <div class="card-footer bg-info">
                <div class="btn-toolbar d-flex flex-row-reverse"> 
                    <button class="btn btn-sm btn-light" type="submit" name="editData">Editar</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="text-light">Cambiar Contraseña</h4>     
            </div>
            <div class="card-body text-center">                     
                <p class="card-text">Form pending</p>
            </div>
            <div class="card-footer bg-info">
                <div class="btn-toolbar d-flex flex-row-reverse"> 
                    <button class="btn btn-sm btn-light" type="submit" name="editPassword">Cambiar</button>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}